 /* Grid */
 .masonry-grid {
    column-count: 2;
    column-gap: 16px;
}

@media (min-width: 640px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media (min-width: 1024px) {
    .masonry-grid {
        column-count: 4;
    }
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
}

/* Mobile Dropdown Menu */
.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1f2937;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.mobile-menu-button:hover .mobile-menu {
    display: block;
}